#!/usr/bin/env sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.

xcompmgr & # Start picom for transparency
dunst & # Start dunst for notifications
unclutter & # Start unclutter to remove mouse when inactive
setbg -N & # Set wallpaper using my hsetroot wrapper
remaps & # Switch caps and esc key among other things
crond & # Scron used for cron jobs
$STATUSBAR & # Starts the statusbar specified in .profile
